---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
// import Features from '~/components/widgets/Features.astro';
import Prices from '~/components/widgets/Pricing.astro';
// import Steps from '~/components/widgets/Steps.astro';
// import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
// import FAQs from '~/components/widgets/FAQs.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
// import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'Ummi\'s',
  ignoreTitleTemplate: true,
};

---

<Layout metadata={metadata}>
  <style>
    html {
      scroll-behavior: smooth;
    }
  </style>

  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Check Out The Menu',
        href: '/ommiMenu',
        target: '_blank',
        icon: 'tabler:arrow-big-right-lines',
      },
      { text: 'Learn more', href: '#about' },
    ]}
    image={{ src: '~/assets/images/mezze-hero.jpg', alt: 'Ommi Hero Image' }}
  >
    <Fragment slot="title"> Ummi's </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline"> <span class="font-semibold">Taste</span> The Tradition With Every Bite</span>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <HeroText id="about" callToAction2=>
    <Fragment slot="title"> About Us </Fragment>

    <Fragment slot="content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate aliquid unde beatae qui dolor soluta autem
      suscipit iste obcaecati velit? Deleniti fugit ipsam ad laboriosam error natus! Odit, est similique? Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Magnam amet error eum doloremque id earum, corrupti numquam sequi
      necessitatibus, ab, veniam facere sed obcaecati blanditiis tenetur doloribus neque sunt. Similique!
    </Fragment>
  </HeroText>
  <Hero
    actions={[
      {text: 'Learn more about our story', href:'about'}
    ]}
  >
  </Hero>
    
  <!-- Features Widget *************** -->

  <!-- <Features
    id="strive"
    tagline="Why We Do This"
    title="What We Strive To Achieve"
    subtitle=""
    items={[
      {
        title: 'Nostalgic Taste',
        description: 'To Remind you Of Your Mothers Delicious Cooking',
        icon: 'tabler:mood-heart',
      },
      {
        title: 'Freshness Is Key',
        description: 'Great Taste While Maintaining The Freshness Of The Ingredients',
        icon: 'tabler:leaf',
      },
      {
        title: 'Customer Satisfaction',
        description:
          'Your satisfaction is our priority. We value your feedback and strive to provide exceptional service every visit',
        icon: 'tabler:rosette-discount-check',
      },
      {
        title: 'Innovation',
        description: 'Innovation drives us. We explore new culinary trends to bring fresh, exciting dishes to our menu',
        icon: 'tabler:rocket',
      },
      {
        title: 'Sustainability',
        description:
          'We prioritize sustainability by using locally-grown, organic ingredients and eco-friendly practices to reduce our environmental impact',
        icon: 'tabler:plant',
      },
      {
        title: 'Community Engagement',
        description:
          'We are committed to our community, supporting local initiatives, partnering with nearby farms, and participating in charitable events',
        icon: 'tabler:empathize',
      },
    ]}
  /> -->

  <Prices
    id="pricing"
    title="Our Offerings"
    prices={[
      {
        title: 'Brunch',
        subtitle: 'Exeptional and Nostalgic Taste',
        items: [
          {
            description: 'Etiam in libero, et volutpat',
          },
          {
            description: 'Aenean ac nunc dolor tristique',
          },
          {
            description: 'Cras scelerisque accumsan lib',
          },
          {
            description: 'In hac habitasse',
          },
        ],
        callToAction: {
          target: 'UmmisBrunchMenu',
          text: 'Brunch Menu',
          href: '/ommiMenu',
        },
        hasRibbon: true,
        ribbonTitle: 'available',
      },
      {
        title: 'Events',
        subtitle: 'Optimal choice for small teams',
        items: [
          {
            description: 'Proin vel laoreet',
          },
          {
            description: 'Ut efficitur habitasse egestas',
          },
          {
            description: 'Volutpat hac curabitur',
          },
          {
            description: 'Pellentesque blandit ut nibh',
          },
          {
            description: 'Donec fringilla sem',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Coming Soon',
          href: '#',
        },
      },
      {
        title: 'Catering',
        subtitle: 'Optimal choice for companies',
        items: [
          {
            description: 'Curabitur suscipit risus',
          },
          {
            description: 'Aliquam habitasse malesuada',
          },
          {
            description: 'Suspendisse sit amet blandit',
          },
          {
            description: 'Suspendisse auctor blandit dui',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Coming Soon',
          href: '#',
        },
      },
      {
        title: 'Cooking Classes',
        subtitle: 'Optimal choice for companies',
        items: [
          {
            description: 'Curabitur suscipit risus',
          },
          {
            description: 'Aliquam habitasse malesuada',
          },
          {
            description: 'Suspendisse sit amet blandit',
          },
          {
            description: 'Suspendisse auctor blandit dui',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Coming Soon',
          href: '#',
        },
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Check Out Our Menu',
        href: '/ommiMenu',
        target: '_blank',
        icon: 'tabler:arrow-right-to-arc',
      },
    ]}
  >
    <Fragment slot="title"> So What Are You Going To Choose? </Fragment>

    <Fragment slot="subtitle">
      Choose From Our Great Selection Of Delicious And Memorable Dishes. <br class="hidden md:inline" />Don't waste more
      time And Get Something Now! :P
    </Fragment>
  </CallToAction>

  <script type="module" src="/src/lib/smooth-scroll.js" defer></script>
</Layout>
